<div>
    {{#each responseFromApi}}
    <h2>{{this.name}}</h2>
    <h3>{{this.tagline}}</h3>
    <img src="{{this.image_url}}">
    <p>{{description}}</p>
    <h4>Food Pairing:</h4>
    <ul>
        {{#each this.food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p><strong>Brewers Tips: </strong> {{this.brewers_tips}}</p>
    {{/each}}
</div>